# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Don't commit actual variable values (may contain secrets)
# terraform.tfvars  # Uncomment if tfvars contains secrets
